
.problemBar {
	padding: .5em 1em;
	border: 1px solid;
	height: 60px;
	min-height: 60px;
	border-radius: 3px;
	display:flex;
	justify-content: center;
	align-items:center;
}

.problemBar.filter-bar {
	border-color: #e1e1e1;
	background-color: #e6e6e6;
}

#report-problem {
    background-color: #d00000;
    color: #FFF;
	display: inline-block;
	margin-left:3px;
	padding-right:.5em;
	box-sizing: border-box;
	border:0;
	cursor:pointer;
	line-height:36px;
	text-align:center;
	white-space:nowrap;
}
#report-problem svg{
	height:30px;
	vertical-align: middle;
	padding:3px;
	fill: #fff;
}